*{
    font-family: 'Aref Ruqaa Ink', serif;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

/*Titulo*/
.titulo{
    font-size: 3vw;
    background-color: #7EBDE0;
    text-align: center;
    height: 7vw;
    align-items: center;
}

/*Subtitulo*/
.orden{
    background-color: #D3D7D8;
    text-align: center;
    position: relative;
    align-items: center;
    
}
.orden p{
    color: white;
    font-size: 3vw;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.imagen_orden{
    width: 74.7vw;
    height: 21.7vw;
    margin: 0;
    padding: 0;
}

/*Contenedor autora, editorial, premios y reconocimientos*/
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*autora*/
.autora{
    font-size: 3vw;
    background-color: #D3F1F5;
    border-width: 0.1vw;
    border-color: black;
    border-style: solid; 
    width: 80vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    margin: 3vw;
    align-items: center;
    border-radius: 10%;
    box-shadow: 2vw 1.5vw 1vw #3f445844;
}
.imagen_autora{
    width: 25vw;
    height: 15vw;
    padding: 1.5vw 1vw;
}
.autora_boton{
    padding: 0vw 4vw;
}

/*Editorial*/
.editorial{
    font-size: 3vw;
    background-color: #D3F1F5;
    border-width: 0.1vw;
    border-color: black;
    border-style: solid; 
    width: 80vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3vw;
    align-items: center;
    border-radius: 10%;
    box-shadow: 2vw 1.5vw 1vw #3f445844;
}

/*Premios y reconocimientos*/
.premios{
    font-size: 3vw;
    background-color: #D3F1F5;
    border-width: 0.1vw;
    border-color: black;
    border-style: solid; 
    width: 80vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3vw;
    align-items: center;
    border-radius: 10%;
    box-shadow: 2vw 1.5vw 1vw #3f445844;
}

/*Libros*/
.libro{
    background-color: #D3D7D8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3vw 12vw;
    text-align: center;
    align-items: center;
    border-radius: 10%;
    box-shadow: 2vw 1.5vw 1vw #3f445844;
}
.numero{
    font-size: 3vw;
}
.fecha{
    font-size: 2vw;
}
.portada{
    width: 35vw;
    height: 48vw;
    padding-top: 0.5vw;
    padding-left: 4vw;
    padding-right: 2vw;
}
.titulo_libro{
    font-size: 3vw;
    margin-top: 1vw;
}
.sinopsis{
    font-size: 1.3vw;
    margin: 0.3vw 20vw;
}
.boton{
    color:white;
    font-size: 3vw;
    border-width: 0.1vw;
    border-color: black;
    border-style: solid;
    background-color: #302DBF;
    padding: 0vw 2vw;
    margin: 1vw;
    box-shadow: 0.5vw 0.5vw 0vw #3f445844;
}
.fanart{
    width: 35vw;
    height: 48vw;
    padding: 1vw;
}
.artista, .artista3, .artista7{
    font-size: 1.5vw;  
    margin-bottom: 2vw;  
}
.reconocimientos{
    color: #2404EA;
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

/*Ventana emergente autora*/
.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
.popup{
    background: white;
    width: 42.8vw;
    height: 70vw;
    text-align: center;
}
.popup .btn-cerrar-popup{
    font-size: 2.5vw;
    line-height: 2.5vw;
    display: block;
    text-align: right;
    color: red;
}
.imagen_autora_popup{
    width: 16vw;
    padding: 2vw;
}
.nombre_autora{
    font-size: 4vw;
    padding-top: 5vw;
}
.biografia{
    font-size: 2vw;
    padding: 0px 3vw;
}
.imagen_nombre_popup{
    display: flex;
}
.caja_popup{
    background-color: #7DB9DB;
    width: 38.8vw;
    height: 65.5vw;
    margin: 0vw 1vw 2vw 2vw;
}

/*Ventana emergente historias-cortas*/
.overlay-hc{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay-hc.active{
    visibility: visible;
}
.popup-hc{
    background: white;
    width: 60vw;
    height: 70vw;
    text-align: center;
}
.popup-hc .btn-cerrar-popup-hc{
    font-size: 2.5vw;
    line-height: 2.5vw;
    display: block;
    text-align: right;
    color: red;
}
.titulo-hc{
    font-size: 2.5vw;
    height: 7vw;
    background-color: #7EBDE0;
    align-items: center;
}
.libro-hc{
    background-color: #D3D7D8;
    display: flex;
    width: 55vw;
    height: 10vw;
    margin: 1.6vw 2vw;
    align-items:center;
}
.libro-hc img{
    width: 6.45vw;
    height: 10vw;
    padding-right: 2vw;
}
.numero-hc{
    margin: 0vw 1vw;
}
.titulo-libro-hc{
    font-size: 1.7vw;
    margin-right: 0.5vw;
}
.sinopsis-hc{
    font-size: 1.5vw;
}