*{
    font-family: 'Aref Ruqaa Ink', serif;
    margin: 0%;
    padding: 0%;
}

/*Titulo*/
.titulo{
    font-size: 30px;
    background-color: #7EBDE0;
    text-align: center;
    height: 70px;
    align-items: center;
}

/*Subtitulo*/
.orden{
    background-color: #D3D7D8;
    text-align: center;
    position: relative;
    align-items: center;
}
.orden p{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.imagen_orden{
    width: 747px;
    height: 217px;
    margin: 0;
    padding: 0;
}

/*Contenedor autora, editorial, premios y reconocimientos*/
.contenedor{
    display: flex;
}

/*autora*/
.autora{
    font-size: 20px;
    background-color: #D3F1F5;
    border-width: 1px;
    border-color: black;
    border-style: solid; 
    width: 446px;
    height: 107px;
    display: flex;
    margin: 15px 50px 15px 120px;
    align-items: center;
}
.imagen_autora{
    width: 120px;
    height: 67.5px;
    padding: 15px 10px 15px 13px;
}
.autora_boton{
    padding-left: 40px;
    padding-right: 50px;
}

/*Editorial*/
.editorial{
    font-size: 20px;
    background-color: #D3F1F5;
    border-width: 1px;
    border-color: black;
    border-style: solid; 
    width: 446px;
    height: 107px;
    margin: 15px 50px 15px 120px;
    text-align: center;
    align-items: center;
}
.editorial_texto{
    margin-top: 20px;
}

/*Premios y reconocimientos*/
.premios{
    font-size: 23px;
    background-color: #D3F1F5;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 558px;
    height: 203px;
    margin: 33px 133px 27px 50px;
    text-align: center;
    align-items: center;
}
.premios_ganados{
    margin-top: 50px;
}

/*Libros*/
.libro{
    background-color: #D3D7D8;
    display: flex;
    width: 1096px;
    height: 169;
    margin: 26px 120px 26px 120px;
    text-align: center;
    align-items: center;
}

.numero{
    font-size: 30px;
    margin-left: 15px;
}
.fecha{
    font-size: 20px;
    margin-left: 30px;
}
.portada{
    width: 105px;
    height: 163.8px;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 20px;
}
.titulo_libro{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 3px;
}
.sinopsis{
    font-size: 15px;
    margin-top: 3px;
}
.boton{
    color:white;
    font-size: 15px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #302DBF;
    padding-left: 20px;
    padding-right: 20px;
}
.fanart{
    height: 163px;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 30px;
}
.artista{
    width: 181px;
    font-size: 15px;
    margin-right: 15px;
    
}
.artista3{
    width: 181px;
    font-size: 15px;
    margin-right: 33px;
}
.artista7{
    width: 400px;
    font-size: 15px;
    margin-right: 33px;
    margin-left: 23px;
}
.reconocimientos{
    color: #2404EA;
    font-size: 15px;
}

/*Ventana emergente autora*/
.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
.popup{
    background: white;
    width: 428px;
    height: 532px;
    text-align: center;
}
.popup .btn-cerrar-popup{
    font-size: 25px;
    line-height: 25px;
    display: block;
    text-align: right;
    color: red;
}
.imagen_autora_popup{
    width: 150px;
    padding: 30px;
}
.nombre_autora{
    font-size: 30px;
    padding-top: 50px;
}
.biografia{
    font-size: 17px;
    padding-right: 30px;
    padding-left: 30px;
}
.imagen_nombre_popup{
    display: flex;
}
.caja_popup{
    background-color: #7DB9DB;
    width: 388px;
    height: 487px;
    margin: 0px 10px 20px 20px;
}

/*Ventana emergente historias-cortas*/
.overlay-hc{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay-hc.active{
    visibility: visible;
}
.popup-hc{
    background: white;
    width: 428px;
    height: 661px;
    text-align: center;
}
.popup-hc .btn-cerrar-popup-hc{
    font-size: 25px;
    line-height: 25px;
    display: block;
    text-align: right;
    color: red;
}
.titulo-hc{
    font-size: 25px;
    height: 70px;
    background-color: #7EBDE0;
    align-items: center;
}
.libro-hc{
    background-color: #D3D7D8;
    display: flex;
    width: 388px;
    height: 99px;
    margin: 16px 20px 16px 20px;
    align-items:center;
}
.libro-hc img{
    width: 64.5px;
    height: 99px;
    padding-right: 30px;
}
.numero-hc{
    margin-right: 15px;
    margin-left: 15px;
}
.titulo-libro-hc{
    font-size: 17px;
    margin-right: 5px;
}
.sinopsis-hc{
    font-size: 15px;
    margin-right: 5px;
}